.vscode

Firmware/MLX90640(23.3.21备份完成lcd显示32to24/USER/FATFS.uvguix.11846
Firmware/MLX90640(23.3.21备份完成lcd显示32to24/OBJ
Firmware/MLX90640(23.3.21备份完成lcd显示32to24/USER/.vscode

Firmware/MLX90640(serial-output)/USER/FATFS.uvguix.11846
Firmware/MLX90640(serial-output)/OBJ
Firmware/MLX90640(serial-output)/USER/.vscode
